[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
